@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>Exception Details:</h3>
@if (Model.ShowRequestId)
{
    <div class="alert alert-danger">
        <h5>Request ID:</h5>
        <p>
            <code>@Model.RequestId</code>
        </p>
    </div>
}
@if (Model.ShowExceptionPath)
{
    <div class="alert alert-danger">
        <h5>Exception Path:</h5>
        <p>
            <code>@Model.ExceptionPath</code>
        </p>
    </div>
}
@if (Model.ShowExceptionMessage)
{
    <div class="alert alert-danger">
        <h5>Message:</h5>
        <p>
            <code>@Model.ExceptionMessage</code>
        </p>
    </div>
}

<p>Development Mode</p>
